@media (max-width: 1600px) {
}
@media (max-width: 1440px) {
  .showResult-container {
    padding: 0 2.4rem;
  }

  .Perfume-info h1 {
    font-size: 4.5rem;
    margin: 1.375rem 0 0 0;
  }

  .Perfume-info h2 {
    font-size: 1.8rem;
    margin: 0 0 1rem 0;
  }

  .fs-xl {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .Perfume-info {
    border-radius: 1.5rem;
    padding: 0 0 0 3.563rem;
  }

  .fs-xl-xxl {
    font-size: 1.5rem;
  }

  .Perfume-info h4 {
    font-size: 2rem;
    margin: 2rem 0;
  }
  .Perfume-info p {
    line-height: 1.8rem;
  }

  .py-xl-2 {
    padding: 2rem 0;
  }

  .pair-btn button {
    width: 60%;
  }

  .mt-xl-30 {
    margin-top: 1.2rem;
  }

  .w-xl-85 {
    width: 85%;
  }

  .text-xl-end {
    text-align: end;
  }

  .Perfume-info-ellips {
    right: -40rem;
    bottom: -50rem;
  }
}
