@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

@font-face {
  font-family: "SF-Pro";
  src: url(../fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF);
}
.container-bg {
  background: url(../images/png/main_Screen_bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 1rem;
}

nav {
  padding: 0 6.4rem;
}

.container {
  max-width: 1464px;
  padding: 0 0.75rem;
  margin: 0 auto;
}

:root {
  /* font-family  */
  --font-SF-Pro: "SF-Pro";
  --font-Cormorant-Unicase: "Cormorant Unicase", serif;
  /* font-color  */
  --clr-light: #fff;
}

.fs-sm {
  font-size: 1rem;
}

h1,
h2,
h5,
.form h3,
.form h4 {
  font-family: var(--font-Cormorant-Unicase) !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.Primary-btn,
.Btn-secondary,
.Card-Btn {
  text-transform: uppercase !important;
  color: var(--clr-light);
}

p,
input,
input::placeholder {
  color: var(--clr-light);
}

.fs-md {
  font-size: 1.12rem;
}
.fs-lg {
  font-size: 1.37rem !important;
}
.fs-xl {
  font-size: 1.5rem;
}
.fs-xxl {
  font-size: 1.75rem;
}

.fs-3xl {
  font-size: 2.6rem;
}
.fs-4xl {
  font-size: 2.875rem;
}
.fs-5xl {
  font-size: 3.875rem;
}

.pt-77 {
  padding-top: 4.8rem;
}

.Btn-secondary {
  background-color: #d5d5d526;
  border-radius: 0.75rem;
  padding: 0.75rem 1.625rem;
  font-family: var(--font-SF-Pro);
  line-height: 1.9rem;
  letter-spacing: 0.3rem;
  border: none;
}

.d-flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.heading-parent-div h1 {
  font-size: 6.5rem;
}

.heading-parent-div h1,
h2 {
  color: #fcf8eb !important;
}

.heading-parent-div p {
  font-family: var(--font-SF-Pro);
  font-weight: 200;
  width: 85%;
  margin: 1.8rem auto;
  opacity: 75%;
}

.h-vh-calc {
  height: calc(100vh - 8.938rem);
}

.Primary-btn {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  font-family: var(--font-SF-Pro);
  font-weight: 700;
  font-size: 1.12rem;
  line-height: 1.9rem;
  letter-spacing: 0.3rem;
  display: flex;
  justify-content: center;
  color: #000 !important;
  align-items: center;
  gap: 0.25rem;
}

.grow-1 {
  flex-grow: 1;
}

.gap-4 {
  gap: 1rem;
}

.text-center {
  text-align: center;
}

.ellipse-line {
  position: absolute;
  top: 0rem;
  right: 3rem;
}

.mt-67 {
  margin-top: 4.1rem;
}
.mt-30 {
  margin-top: 1.8rem;
}
.mt-47 {
  margin-top: 2.9rem;
}

.border-none {
  border: none !important;
}

.text-start {
  text-align: start !important;
}

.form h3,
.form h4 {
  font-weight: 500;
  line-height: 2.25rem;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.9rem;
  display: inline;
}

.form h4 {
  letter-spacing: 5px;
  display: block;
  border-bottom: 2px solid #fff;
  padding-bottom: 2.6rem;
  margin: 0 6.4rem 0 6.4rem;
}

.form p {
  font-family: var(--font-SF-Pro);
  font-weight: 510;
  font-size: 2rem;
  line-height: 2.25rem;
  margin-top: 3.5rem;
}

.form p span {
  display: block;
}

input {
  font-family: var(--font-SF-Pro);
  font-size: 1.3rem;
  line-height: 1.9rem;
  border: 1.02px solid #ffffffd6;
  background: linear-gradient(
    94.51deg,
    rgba(255, 255, 255, 0.032) -24.59%,
    rgba(255, 255, 255, 0) 99.76%
  );
  border-radius: 0.75rem;
  padding: 1.9rem 1.9rem;
  width: 100%;
  margin-top: 2rem;
}

input::placeholder {
  font-family: var(--font-SF-Pro);
  font-size: 1.3rem;
  line-height: 1.9rem;
}

.w-50 {
  width: 50%;
}
.w-41 {
  width: 41%;
}

.d-none {
  display: none;
}

.flex-column {
  flex-direction: column;
}

.ml-25 {
  margin-left: 1.563rem;
}

.h-100 {
  height: 100%;
}

.justify-around {
  justify-content: space-around;
}

form {
  position: relative;
  z-index: 5;
}

.w-100 {
  width: 100%;
}

.imgs {
  position: absolute;
  bottom: 0;
  right: 0;
}

.postion-relative {
  position: relative;
}
